@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --black: #050505;
  --green: #00d700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  padding: 2rem 0.5rem;
}

body,
input {
  background-color: var(--black);
  color: var(--green);
}

body,
input,
pre:not(.hero) {
  font-family: "Roboto Mono", monospace;
}

ul {
  list-style: none;
}

a {
  background-color: var(--green);
  color: var(--black);
}

.available-cmd {
  padding-left: 1rem;
  border-spacing: 3rem 0;
}

.cmd-results {
  margin-top: 2rem;
}

.cmd-results__prompt::before,
.cmd-form__prompt::before {
  content: "root@g3offrey.dev$ ";
  font-weight: bold;
}

.cmd-results__result::before {
  content: "> ";
}

.cmd-form__prompt {
  width: 100%;
}

.cmd-form__input {
  border: none;
  outline: none;
  font-size: 1rem;
}
